{% extends 'transaccion/transaccion_compra.html'%}
{% load staticfiles%}
{%block validacion%}
{%if error%}
<div class="alert alert-warning alert-dismissible show text-center" role="alert">
    <strong>Advertencia!</strong> No se encuentra esa cantidad en existencias en el inventario.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{%endif%}
{%endblock%}

{%block Debe%}
<p>Selecciones las cuentas que se cargaran, pueden ser ambas. </p>
<br>
<div class="row">
    <div class="col-lg-5 form-group">
        <label><input type="checkbox" aria-label="Checkbox for following text input" name="efectivo0">Caja
            General:
        </label>
    </div>
    <div class="col-lg-7 form-group">
        <input type="text" class="debe form-control" name="efectivo" onchange="partidaDoble()" value="0" required>
    </div>
</div>
<div class="row">
    <div class="col-lg-5 form-group">
        <label><input type="checkbox" aria-label="Checkbox for following text input" name="cxp0">Cuentas
            por Pagar:
        </label>
    </div>
    <div class="col-lg-7 form-group">
        <input type="text" class="debe form-control" name="cxp" onchange="partidaDoble()" value="0" required>
    </div>

</div>
{%endblock%}
{%block Haber%}
<div class="row container-fluid">

    <div class="col-lg-12 form-group">
        <select class="form-control" name="cuenta">
            {%for c in cuentas%}
            {%if c.padre.id == 4 or c.padre.id == 5 or c.padre.id == 6 %}
            <option>{{c.nombre_cuenta}}</option>
            {% endif %}

            {% empty %}
            <h2 align="center" class="mb-4">No hay Cuentas</h2>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row container-fluid">
    <div class="col-lg-4 form-group">
        <label>Cantidad:</label>
    </div>
    <div class="col-lg-8 form-group">
        <input type="number" class="form-control" name="cantidad" id="cant" onchange="operaciones()" required>
    </div>
</div>
<div class="row container-fluid">
    <div class="col-lg-4 form-group">
        <label>Precio Unitario:</label>
    </div>
    <div class="col-lg-8 form-group">
        <input type="text" class="form-control" name="precio_unit" onchange="operaciones()" id="pu" required>
    </div>
</div>
<div class="row container-fluid">
    <div class="col-lg-4 form-group">
        <label>Total Compra: </label>
    </div>
    <div class="col-lg-8 form-group">
        <input type="text" class="haber form-control" name="total" id="tot">
    </div>
</div>
<div class="row container-fluid">
    <div class="col-lg-4 form-group">
        <label>IVA Credito Fiscal: </label>
    </div>
    <div class="col-lg-8 form-group">
        <input type="text" class="haber form-control" name="iva" id="iva">
    </div>
</div>
{%endblock%}