{%extends 'base/base.html'%}
{%load staticfiles%}
{% block extracss %}
<link href="{%static '/plantilla/lib/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
{% endblock %}

{%block content%}
<!-- Modal Debe-->
<div class="modal" id="debe1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Seleccione cuentas para Debe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="GET">
                <div class="modal-body">
                    <div class="row container-fluid">

                        <div class="col-lg-4">
                            <h3>Activos</h3>
                            <!--Modificar aqui cuando se realicen los ajustes ya deben de aparecer las cuentas depres y todo lo demas-->
                            {%if periodo.periodo_ajuste%}
                            {%for c in cuentas%}
                            {%ifequal c.padre.agrupacion.codigo_grup.nombre_grupo 'ACTIVO' %}
                            {%if c.padre.id != 3 and c.padre.id != 4 and c.padre.id != 5 and c.padre.id != 6 and c.padre.id != 7 and c.padre.id != 8 and c.padre.id != 13 and c.padre.id != 16 %}
                            <div class="row">
                                <label><input type="checkbox" aria-label="Checkbox for following text input" name="{{c.id}}debe">{{c.nombre_cuenta}}
                                </label>
                            </div>{%endif%}
                            {%endifequal%}

                            {% empty %}
                            <h2 align="center" class="mb-4">No hay Cuentas</h2>
                            {%endfor%}

                            {%else%}

                            {%for c in cuentas%}
                            {%ifequal c.padre.agrupacion.codigo_grup.nombre_grupo 'ACTIVO' %}
                            {%if c.padre.id != 3 and c.padre.id != 4 and c.padre.id != 5 and c.padre.id != 6 and c.padre.id != 7 and c.padre.id != 8 and c.padre.id != 14 and c.padre.id != 16 and c.padre.id != 13 %}
                            <div class="row">
                                <label><input type="checkbox" aria-label="Checkbox for following text input" name="{{c.id}}debe">{{c.nombre_cuenta}}
                                </label>
                            </div>
                            {%endif%}
                            {%endifequal%}

                            {% empty %}
                            <h2 align="center" class="mb-4">No hay Cuentas</h2>
                            {%endfor%}
                            {%endif%}
                        </div>
                        <div class="col-lg-4">
                            <h3>Pasivo</h3>
                            {%for c in cuentas%}
                            {%ifequal c.padre.agrupacion.codigo_grup.nombre_grupo 'PASIVO' %}
                            {%if c.padre.id != 22 %}
                            <div class="row">
                                <label><input type="checkbox" aria-label="Checkbox for following text input" name="{{c.id}}debe">{{c.nombre_cuenta}}
                                </label>
                            </div>
                            {%endif%}
                            {%endifequal%}

                            {% empty %}
                            <h2 align="center" class="mb-4">No hay Cuentas</h2>
                            {%endfor%}
                        </div>
                        <div class="col-lg-4">
                            <h3>Patrimonio</h3>
                            {%for c in cuentas%}
                            {%ifequal c.padre.agrupacion.codigo_grup.nombre_grupo 'PATRIMONIO' %}
                            <div class="row">
                                <label><input type="checkbox" aria-label="Checkbox for following text input" name="{{c.id}}debe">{{c.nombre_cuenta}}
                                </label>
                            </div>
                            {%endifequal%}

                            {% empty %}
                            <h2 align="center" class="mb-4">No hay Cuentas</h2>
                            {%endfor%}
                        </div>
                        <br><br><br>
                        <div class="col-lg-4">
                            <h3>Cuentas de Resultado</h3>
                            {%for c in cuentas%}
                            {%if c.padre.agrupacion.codigo_grup.id == 4 or c.padre.agrupacion.codigo_grup.id == 5 %}
                            <div class="row">
                                <label><input type="checkbox" aria-label="Checkbox for following text input" name="{{c.id}}debe">{{c.nombre_cuenta}}
                                </label>
                            </div>
                            {%endif%}

                            {% empty %}
                            <h2 align="center" class="mb-4">No hay Cuentas</h2>
                            {%endfor%}
                        </div>
                        <div class="col-lg-4">
                            <h3>Cuentas de Costos</h3>
                            {%for c in cuentas%}
                            {%if c.padre.agrupacion.codigo_grup.id == 6 %}
                            <div class="row">
                                <label><input type="checkbox" aria-label="Checkbox for following text input" name="{{c.id}}debe">{{c.nombre_cuenta}}
                                </label>
                            </div>
                            {%endif%}

                            {% empty %}
                            <h2 align="center" class="mb-4">No hay Cuentas</h2>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                    <button type="submit" class="btn btn-primary" name="cargar">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Haber-->
<div class="modal" id="haber1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Seleccione cuentas para Haber</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="GET">
                <div class="modal-body">
                    <div class="row container-fluid">

                        <div class="col-lg-4">
                            <h3>Activos</h3>
                            {%if periodo.periodo_ajuste%}
                            {%for c in cuentas%}
                            {%ifequal c.padre.agrupacion.codigo_grup.nombre_grupo 'ACTIVO' %}
                            {%if c.padre.id != 3 and c.padre.id != 4 and c.padre.id != 5 and c.padre.id != 6 and c.padre.id != 7 and c.padre.id != 8 and c.padre.id != 13 and c.padre.id != 16 %}
                            <div class="row">
                                <label><input type="checkbox" aria-label="Checkbox for following text input" name="{{c.id}}haber">{{c.nombre_cuenta}}
                                </label>
                            </div>
                            {%endif%}
                            {%endifequal%}

                            {% empty %}
                            <h2 align="center" class="mb-4">No hay Cuentas</h2>
                            {%endfor%}
                            {%else%}

                            {%for c in cuentas%}
                            {%ifequal c.padre.agrupacion.codigo_grup.nombre_grupo 'ACTIVO'%}
                            {%if c.padre.id != 3 and c.padre.id != 4 and c.padre.id != 5 and c.padre.id != 6 and c.padre.id != 7 and c.padre.id != 8 and c.padre.id != 14 and c.padre.id != 16 and c.padre.id != 13 %}
                            <div class="row">
                                <label><input type="checkbox" aria-label="Checkbox for following text input" name="{{c.id}}haber">{{c.nombre_cuenta}}
                                </label>
                            </div>
                            {%endif%}
                            {%endifequal%}

                            {% empty %}
                            <h2 align="center" class="mb-4">No hay Cuentas</h2>
                            {%endfor%}
                            {%endif%}
                        </div>
                        <div class="col-lg-4">
                            <h3>Pasivo</h3>
                            {%for c in cuentas%}
                            {%ifequal c.padre.agrupacion.codigo_grup.nombre_grupo 'PASIVO' %}
                            {%if c.padre.id != 22 %}
                            <div class="row">
                                <label><input type="checkbox" aria-label="Checkbox for following text input" name="{{c.id}}haber">{{c.nombre_cuenta}}
                                </label>
                            </div>
                            {%endif%}
                            {%endifequal%}

                            {% empty %}
                            <h2 align="center" class="mb-4">No hay Cuentas</h2>
                            {%endfor%}
                        </div>

                        <div class="col-lg-4">
                            <h3>Patrimonio</h3>
                            {%for c in cuentas%}
                            {%ifequal c.padre.agrupacion.codigo_grup.nombre_grupo 'PATRIMONIO' %}
                            <div class="row">
                                <label><input type="checkbox" aria-label="Checkbox for following text input" name="{{c.id}}haber">{{c.nombre_cuenta}}
                                </label>
                            </div>
                            {%endifequal%}

                            {% empty %}
                            <h2 align="center" class="mb-4">No hay Cuentas</h2>
                            {%endfor%}
                        </div>

                        <br><br><br>
                        <div class="col-lg-4">
                            <h3>Cuentas de Resultado</h3>
                            {%for c in cuentas%}
                            {%if c.padre.agrupacion.codigo_grup.id == 4 or c.padre.agrupacion.codigo_grup.id == 5 %}
                            <div class="row">
                                <label><input type="checkbox" aria-label="Checkbox for following text input" name="{{c.id}}haber">{{c.nombre_cuenta}}
                                </label>
                            </div>
                            {%endif%}

                            {% empty %}
                            <h2 align="center" class="mb-4">No hay Cuentas</h2>
                            {%endfor%}
                        </div>
                        <div class="col-lg-4">
                            <h3>Cuentas de Costos</h3>
                            {%for c in cuentas%}
                            {%if c.padre.agrupacion.codigo_grup.id == 6 %}
                            <div class="row">
                                <label><input type="checkbox" aria-label="Checkbox for following text input" name="{{c.id}}haber">{{c.nombre_cuenta}}
                                </label>
                            </div>
                            {%endif%}

                            {% empty %}
                            <h2 align="center" class="mb-4">No hay Cuentas</h2>
                            {%endfor%}

                            {%for c in cuentasdebe%}
                            <input type="checkbox" aria-label="Checkbox for following text input" name="{{c.id}}habers"
                                hidden checked>
                            {%endfor%}
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                    <button type="submit" class="btn btn-primary" name="abonar">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>  
    <div class="row">
        <!--Transacciones especiales-->
        <div class="col-lg-3 ">
            <div class="row btn-group-vertical text-center">
                {%if not periodo.periodo_ajuste%}
                <h3 class="h4">Transacciones Especiales</h3>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-primary" onclick="location='{%url 'transaccion:compra_inv'%}';">Compra
                        de
                        Inventario</button>
                    <button type="button" class="btn btn-info" onclick="location='{%url 'transaccion:venta'%}';">Venta de
                        Productos Terminados</button>
                    <button type="button" class="btn btn-primary" onclick="location='{%url 'transaccion:dev_compra'%}';">Devolucion
                        S/Compra de Inventario</button>

                    <button type="button" class="btn btn-info" onclick="location='{%url 'transaccion:compra_tangibles'%}';">Compra
                        de Bienes Tangibles</button>
                    <button type="button" class="btn btn-primary" onclick="location='{%url 'transaccion:venta_tangibles'%}';">Venta
                        de Bienes Tangibles</button>
                </div>
                {%endif%}
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-12 btn-group-vertical">
                    <button type="button" class="btn">
                      DEBE &nbsp;&nbsp;<strong>$ </strong><span class="badge badge-light" id="resultadodeb"> 0.00</span>
                    </button>
                    <span class="badge" id="resultadodeb"></span>
                </div>
                <button type="button" class="btn">
                      HABER <strong>$ </strong><span class="badge badge-light" id="resultadohab">0.00</span>
                </button>
            </div>
        </div>

        <div class="col-lg-9">
             <!--Validacion partida doble-->
            <div class="hidden alert alert-danger alert-dismissible show text-center" role="alert" id="error">
                <strong>Advertencia!</strong> No se cumple partida doble, o hay valores a cero.
            </div>

            <div class="row jumbotron container-fluid text-center">
                <div class="row">
                    <form method="POST" class="formulario" data-url="/transaccion/" id="transaccionPost">
                        {%csrf_token%}
                        
                        <div class="col-lg-6">
                            <!-- Boton modal Debe -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#debe1" id="ad">
                                Agregar Cuentas Debe
                            </button>
                            <br><br><br>
                            <h3>Debe</h3>
                            <div class="row container-fluid">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-6 form-group">
                                    {%for c in cuentasdebe%}
                                    <div class="row form-group text-left">
                                        <label>{{c.nombre_cuenta}}</label>
                                    </div>
                                    {%endfor%}
                                </div>
                                <div class="col-lg-4 form-group">
                                    {%for c in cuentasdebe%}
                                    <div class="row form-group">
                                        <input type="number" class="valores debe form-control" name="{{c.id}}deb" placeholder="$" required step=".01">
                                    </div>
                                    {%endfor%}
                                </div>
                                <div class="col-lg-1"></div>

                            </div>

                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#haber1" id="ah">
                                Agregar Cuentas Haber
                            </button>
                            <!-- Boton modal Haber -->
                            <br><br><br>
                            <h3>Haber</h3>
                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    {%for c in cuentashaber%}
                                    <div class="row form-group text-left">
                                        <label>{{c.nombre_cuenta}}</label>
                                    </div>
                                    {%endfor%}
                                </div>
                                <div class="col-lg-4 form-group">
                                    {%for c in cuentashaber%}
                                    <div class="row form-group">
                                        <input type="text" class="valores haber form-control" name="{{c.id}}abon"  placeholder="$" required step=".01">
                                    </div>
                                    {%endfor%}
                                </div>
                                <div class="col-lg-2"></div>
                            </div>

                        </div>
                </div>
                <br>
                <br>
            <div class="row">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#transaccion" >Registrar Transaccion</button> &nbsp;&nbsp;
&nbsp;                <a type="button" class="btn btn-info" href="/periodo_contable/transacciones/{{periodo.id}}/">Listado de Transaccion</a>
            </div>
        </div>
        </div>
    </div>
</div>
</div>

<!-- Modal Iniciar Transaccion-->
<div class="modal" id="transaccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ingrese los detalles de la transaccion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
                <div class="modal-body">
                        <div class="form-group row mr-2 ml-2">

                            <div class="col-sm-10">
                                <input id="p"type="text" name="periodo_transaccion" value="{{periodo.id}}" hidden>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Fecha transaccion:</label>
                            <div class="col-sm-10">
                                <input id="f"class="form-control" type="date" name="fecha_transaccion" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"> Descripcion:</label>

                            <div class="col-sm-10">
                                <input id="d"class="form-control " type="text" name="descripcion_transaccion" required>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" name="inicio_transaccion" id="inicio_transaccion">
                            Iniciar Transaccion
                        </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="regresar">Regresar</button>
                </div>
            </form>
        </div>
    </div>
</div>





{%endblock%}

{% block extrajs %}

</script>
<script type="text/javascript">
</script>
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/transacciones.js'%}"></script>
{% endblock %}