{%extends 'base/base.html'%}
{%load staticfiles%}
{% block extracss %}
<link href="{%static '/plantilla/lib/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

{% endblock %}
{%block portada%}
{%endblock%}


{%block content%}

<div class="mt-5 bg-ligth">
    <div class="row">
        <div class="col-lg-4">
            <h2 class="h1">ALV</h2>
        </div>
        <div class="col-lg-8">

            <div class="row jumbotron">
                <!-- Boton modal Haber -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#haber">
                    Haber
                </button>

                <!-- Boton modal Debe -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#debe">
                    Debe
                </button>
            </div>

            <div class="row jumbotron">
                <table class="table">
                    <h3>Sumatoria de Cuentas</h3>
                    <thead class="thead-dark">
                        <tr>

                            <th scope="col">Saldo Debe</th>
                            <th scope="col">Saldo Haber</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>Valores</td>
                            <td>Valores</td>

                        </tr>

                    </tbody>
                </table>



            </div>

        </div>
    </div>
</div>



<!-- Modal Debe-->
<div class="modal fade" id="debe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Seleccione cuentas para Debe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <h3>Activos</h3>
                    </div>
                    <div class="col">
                        <h3>Pasivo</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                <button type="button" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Haber-->
<div class="modal fade" id="haber" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Seleccione cuentas para Haber</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <h3>Activos</h3>
                    </div>
                    <div class="col">
                        <h3>Pasivo</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                <button type="button" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>

{%endblock%}
{%block footer%}
{%endblock%}