{% extends 'base/base.html' %}

{% block content %}

	{% if balances %}
	<h4 class="text-center">Huelic Chocolatl</h4>
	<h5 class="text-center">Balance de Comprobación</h5>
	<h5 class="text-center">Del {{fecha_inicio}}, al {{fecha_final}}</h5>

	<br>
	<table class="table table-hover" id="estados_financieros">
  		<thead>
    		<tr class="table-dark">
      			<th >Cuenta</th>
      			<th >Saldo Deudor</th>
      			<th >Saldo Acreedor</th>
    		</tr>
  		</thead>
  		<tbody>
  		{% for balance in balances %}
    	<tr class="table-dark">
      		<td>{{balance.cuenta_balance.nombre_cuenta}}</td>
      		<td>{{balance.saldo_deudor}}</td>
      		<td>{{balance.saldo_acreedor}}</td>
    	</tr>
    	{% endfor %}
    	<tr>
      		<th>Total</th>
      		<th>{{deudor}}</th>
      		<th>{{acreedor}}</th>
    	</tr>
    	<tr class="table-dark">
    		<td></td><td></td><td></td>
    	</tr>
    	</tbody>
    </table>
    	<br><br>
    	<h3 class="text-center">{{mensaje}}</h3>
    	<hr>
    {% else %}
    <h2 class="text-center">El balance de comprobación no está disponible para este periodo</h2>
    {% endif %}

{% endblock %}
