{% extends 'base/base.html' %}
{%load staticfiles%}
{% block content %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-10 position-relative">
      <!-- /#wrapper -->
    <div id="wrapper">
      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
                  {% if user.is_staff == True %}
                    <a class="btn btn-sm mb-3" href="{% url 'contabilidad_general:crear' %}" title="Agregar">
                    <i class="fas fa-plus-circle"></i>
                    <b>Nueva Cuenta</b>
                    </a>
                  {% endif %}
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Código de la cuenta</th>
                      <th>Nombre de la cuenta</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Código de la cuenta</th>
                      <th>Nombre de la cuenta</th>
                      <th>Acciones</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for cuenta in cuentas %}
                    <tr>
                      <th>{{cuenta.codigo_cuenta}}</th>
                      <td>{{cuenta.nombre_cuenta}}</td>
                      <td>
                        {% if user.is_staff == True %}
                          <a href="{% url 'contabilidad_general:mostrar-hijas' cuenta.id %}" class="btn btn-info" title="Ver cuentas hija"><i class="fas fa-list-ol"></i></a>
                          <a href="{% url 'contabilidad_general:cuenta-editar' cuenta.id %}" class="btn btn-success" title="Editar"><i class="fas fa-pencil-alt"></i></a>
                          <a href="{% url 'contabilidad_general:crear-hija' cuenta.id %}" class="btn btn-primary" title="Agregar cuenta hija"><i class="fas fa-plus-circle"></i></a>
                        {% else %}
                          <a href="{% url 'contabilidad_general:mostrar-hijas' cuenta.id %}" class="btn btn-info" title="Ver cuentas hijas"><i class="fas fa-list-ol"></i></a>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-wrapper -->
    </div>
    </div>
  </div>
</div>
{% endblock %}