{% extends 'base/base.html' %}


{% block content %}
<form method="post">
		{% csrf_token %}
		<br>
		<div class="row">
  			<div class="col-md-10">
    			<div class="row">
      				<div class="col-md-6">
        				<label >Nombre</label>
				<input class="form-control" type="text" name="nombre_cuenta" required>
      				</div>

    			</div>
  			</div>
		</div>
		<br>
		<div class="row">
  			<div class="col-md-10">
    			<div class="row">
      				<div class="col-md-6">
        				<label >Descripción</label>
        				<textarea class="form-control" type="text" name="descripcion_cuenta" required></textarea>
      				</div>
    			</div>
  			</div>
		</div>
		<br>
		<div class="row">
  			<div class="col-md-10">
        		<input class="btn btn-primary btn-lg" type="submit" name="btnGuardar" value="Guardar">
  			</div>
		</div>
		
	</form>
{% endblock %}