{% extends 'base/base.html' %}


{% block content %}
<table class="table table-hover">
  {% if hijas %}
  <thead>
    <tr>
      <th scope="col">Codigo de la cuenta</th>
      <th scope="col">Nombre de la cuenta</th>
      {% if user.is_superuser == True %}
      <th scope="col">Acciones</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    
  	{% for hija in hijas %}
    <tr class="table-dark">
      <th scope="row">{{hija.codigo_cuenta}}</th>
      <td>{{hija.nombre_cuenta}}</td>
      {% if user.is_staff == True %}
      <td>
        <div class="col-md-10">
              <div class="col-md-10">
                  <a href="{% url 'contabilidad_general:hija-editar' hija.id %}" class="btn btn-block btn-success font-weight-bold">Editar</a>
              </div>
            </div>
        </div>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    {% else %}
    <h2 class="text-center">Esta cuenta aun no posee hijas </h2>
    <div class="text-center">
      <a href="{% url 'contabilidad_general:mostrar-cuentas' %}" class="text-center">Regresar</a>
    </div>
    {% endif%}

  </tbody>
</table> 
{% endblock %}