h4 {
	text-align: center;
}

.diBorder .form-group {
}

.divBorder .form-group .input {
	color: blue;
	width: 50%;
	align-content:center;
	margin-right: auto;
	margin-left: auto;
}

.divBorder .form-group .btn-primary {
	margin-right: auto;
	margin-left: auto;
	width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
 	margin-left: 50%;
  	transform: translateX(-50%);
}

.container .form-group {
	color: blue;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}
