{% extends 'base/base.html'%}
{% load static from staticfiles %}
{% block extracss %}
<link href="{%static '/plantilla/lib/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
{% endblock %}

{% block portada %}<br><br><br>{% endblock %}
{% block content %}

<button><a href="{% url 'empleado_lista' %}" ><b>Lista de Empleados</b></a></button><br><br>
<div id="divBorder1">
	<br>
	<h4 id="title1">Registro de Empleados</h4>
   	<form method="post">
   		<div id="form1">
			{% csrf_token %}
			
			{% for field in form1 %}
				<div id="input1">
					{{ field.errors }}
					{{ field.label_tag }}
					{{ field }}
				</div>
			{% endfor %}
			<br>
			<button type="submit" class="btn-primary" align="center">Registrar</button>
		</div>
	</form>
</div>
{% endblock %}