{% extends 'base/base.html'%}
{% block title %} Administrar Planilla {% endblock %}
{% block portada %}<br><br><br>{% endblock %}
{% block content %}
<br>
<a href="{% url 'empleado_general' %}" ><b>PLANILLA GENERAL</b></a><br><br><br><br>
{% if object_list %}	
	<table id="tbEmpleados" class="table">
		<thead id="thead-dark" class="thead-dark">
			<tr>
				<th scope="col">DUI</th>
				<th scope="col">NOMBRES</th>
				<th scope="col">APELLIDOS</th>
				<th scope="col">PLANILLA</th>
			</tr>
		</thead>
		<tbody>
		{% for empleado in object_list  %}	
			<tr id="{{empleado.id}}">
				<td><b>{{empleado.dui_empleado}}</b></td>
				<td>{{empleado.nombre_empleado}}</td>
				<td>{{empleado.apellido_empleado}}</td>
				<td><a class= "btn btn-primary" href="{% url 'empleado_planilla' empleado.id  %}"> Ver Planilla</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% else %}
	<b>No se encuentra registrado ningún empleado</b>
{% endif %}


{% endblock %}