{% extends 'base/base.html'%}
{% block title %} Empleados {% endblock %}
{% block portada %}<br><br><br>{% endblock %}
{% block content %}
 
 <table id="tbEmpleados" class="table">
		<thead id="thead-dark" class="thead-dark">
			<tr>
				<th scope="col">N°</th>
				<th scope="col">NOMBRE EMPLEADO</th>
				<th scope="col">CARGO</th>
				<th scope="col">SALARIO BASE</th>
				<th scope="col">HORAS EXTRA</th>
				<th scope="col">VACACIONES</th>
				<th scope="col">TOTAL DEVENGADO</th>
				<th scope="col">DEDUCIONES LABORALES</th>
				<th scope="col">SALARIO LIQUIDO</th>
				<th scope="col">FIRMA</th>
			</tr>
		</thead>
		<tbody>
	
		</tbody>
	</table>


{% endblock %}