{% extends 'base/base.html'%}
{% block title %} Programaciones {% endblock %}
{% block portada %}<br><br><br>{% endblock %}
{% block content %}
<br>
<h3 style="text-align: center; color:  #54758e;">Lista de programaciones</h3><br>
{% if user.is_staff == True or user.is_superuser == True %}
&nbsp;&nbsp;<a href="{% url 'programaciones_nueva' %}"><i class="fas fa-plus-square fa-2x"> Agregar nueva programacion</i></a> 
{% endif %}
{% if programaciones %}	
	<table id="tbProgramaciones" class="table">
		<thead id="thead-dark" class="thead-dark">
			<tr>
				<th scope="col">Periodo</th>
				<th scope="col">Fecha</th>
				<th scope="col">Producto</th>
				<th scope="col">Cantidad</th>
				<th scope="col">Finalizado</th>
				<th scope="col">Costo unitario</th>
				<th scope="col">Acciones</th>
			</tr>
		</thead>
		<tbody>
		{% for programacion in programaciones %}	
			<tr id="{{programacion.id}}">
				<td><b>{{programacion.periodo_programacion.id}}</b></td>
				<td>{{programacion.fecha_programacion}}</td>
				<td>{{programacion.producto_programacion}}</td>
				<td>{{programacion.cantidad_programacion}}</td>
				<td>{{programacion.estado_programacion}}</td>
				<td>{{programacion.costo_unitario}}</td>
				<td>
					{% if programacion.estado_programacion %}
						<input style="width: 107px;" class="btn btn-primary" type="button" name="btnDetalles" value="Ver detalles" onclick=" location.href='{% url 'detalles' programacion.id %}' ">
					{% else %}
						<input style="width: 107px;" class="btn btn-primary" type="button" name="btnDetalles" value="Ver detalles" onclick=" location.href='{% url 'detalles' programacion.id %}' ">
						{% if user.is_staff == True or user.is_superuser == True %}
							<input class="btn btn-success" type="button" name="btnSeguimiento" value="Seguimiento" onclick=" location.href='{% url 'seguimiento' programacion.id %}' ">
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% else %}
	<b>No hay ninguna programacion</b>
{% endif %}


{% endblock %}