{% extends 'base/base.html'%}
{% block title %} Programacion nueva {% endblock %}
{% block extracss %}

{% endblock %}
{% block portada %}<br><br><br>{% endblock %}
{% block content %}
<div class="divBorder">
	<br>
	<h4 style="text-align: center; color: #1f618d;">Datos de la Programacion</h4>
	
	<form id="fmProgramacionNueva" name="programacion_nueva" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label>Periodo contable</label>
			<select style="height: 30px;" id="periodoSeleccionado" name="periodoSeleccionado" class="form-control">
			  <option>--Seleccione--</i></option>
			  {% if periodos %}
			  	{% for periodo in periodos %}
			  		<option value="{{ periodo.id }}">{{ periodo.id }}, del {{ periodo.inicio_periodo }} al {{ periodo.final_periodo }} </option>
			  	{% endfor %}
			  {% else %}
			  	<option>No hay periodos</option>
			  {% endif %}
			</select>
			<small class="form-text text-muted">Seleccione el periodo al cual pertenecera la programacion.</small>
		</div>
		<div class="form-group">
			<label>Fecha de programacion</label>
			<input id="fecha" type="date" class="form-control" name="fecha">
		</div>
		<div class="form-group">
			<label>Producto a realizar</label>
			<select style="height: 30px;" id="producto" class="form-control" name="producto">
			  <option>--Seleccione--</i></option>
			  {% if productos %}
			  	{% for producto in productos %}
			  		<option value="{{ producto.codigo_cuenta }}">{{ producto.codigo_cuenta }} {{ producto.nombre_cuenta }}</option>
			  	{% endfor %}
			  {% else %}
			  	<option>No hay productos</option>
			  {% endif %}
			 
			</select>
			<small class="form-text text-muted">Seleccione el producto a producir.</small>
		</div>

		<div class="form-group">
			<label>Cantidad a realizar</label>
			<input id="cantidad" type="text" class="form-control" name="cantidad" placeholder="Ingrese la cantidad de producto" min="1">
		</div>

		<input id="btnGuardarProgra" type="submit" class="btn btn-primary" name="btnGuardarProgra" value="Guardar">
		<input type="button" class="btn btn-danger" onclick="getElementById('fmProgramacionNueva').reset();" name="btnCancelar" value="Cancelar">

	</form>
</div>
<input type="button" style="font-size: 1.2em; color:  #b3b6b7;" class="btn btn-secondary" onclick="location.href = '{% url 'programaciones_lista' %}'" value="Regresar"><br><br>
{% endblock %}
