{% extends 'base/base.html'%}
{% block title %} Programaciones {% endblock %}
{% block portada %}<br><br><br>{% endblock %}
{% block content %}
<br>
<h3 style="text-align: center; color:  #54758e;">Lista de programaciones</h3><br>
{% if user.is_staff == True or user.is_superuser == True %}
&nbsp;&nbsp;<a href="{% url 'programaciones_nueva' %}"><i class="fas fa-plus-square fa-2x"> Agregar nueva programación</i></a> 
{% endif %}	
<div class="card-body">
<div class="table-responsive">
	<table id="dataTable" class="table table-striped" width="100%" cellspacing="0">
		<thead id="thead-dark" class="thead-dark">
			<tr>
				<th scope="col">Periodo</th>
				<th scope="col">Fecha de programación</th>
				<th scope="col">Producto</th>
				<th scope="col">Cantidad</th>
				<th scope="col">Estado</th>
				<th scope="col">Costo unitario</th>
				<th scope="col">Acciones</th>
			</tr>
		</thead>
		<tbody>
		{% for programacion in programaciones %}	
			<tr id="{{programacion.id}}">
				<td><b>{{programacion.periodo_programacion.id}}</b></td>
				<td>{{programacion.fecha_programacion}}</td>
				<td>{{programacion.nombre_producto}}</td>
				<td>{{programacion.cantidad_programacion}}</td>
				<td>
					{% if programacion.estado_programacion %}
						Finalizado
					{% else %}
						En proceso
					{% endif %}
				</td>
				<td>${{programacion.costo_unitario}}</td>
				<td>
					<button class="btn-md btn-md-info">
						<a href="{% url 'detalles' programacion.id %}"><span title="Detalles"><i class="fas fa-info-circle fa-2x"></i></span></a>
					</button>
					{% if user.is_staff or user.is_superuser %}
						{% if not programacion.estado_programacion %}
						<button class="btn-md btn-md-success">
							<a href="{% url 'seguimiento' programacion.id %}"><span title="Seguimiento"><i style="color: green;" class="fas fa-play fa-2x"></i></span></a>
						</button>
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
</div>

{% endblock %}